.benefits {
    padding: 40px 0;

    &-container {
        color: red;

        &__title {
            line-height: 1;
        }
    }
}


.benefits {
    padding: 40px 0;
}

.benefits-container {
    color: red;
}

.benefits-container__title {
    line-height: 1;
}